@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .timer {
    min-width: 80px;
    padding: 2rem 1rem;
  }

  .timer h3 {
    font-size: 1.5rem;
  }

  .timer p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .timer {
    min-width: 60px;
    padding: 1.5rem 0.5rem;
  }

  .timer h3 {
    font-size: 1.2rem;
  }

  .timer p {
    font-size: 0.8rem;
  }
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
opacity: 30%;
}
